* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
}

.divDropdownHolder:hover .mainDropdownMenu {
    top: 100%;
    opacity: 100;
    transition: top .75s ease-in, opacity .75s ease-in;
    pointer-events: auto;
}

#navBarMain {
    background-color: #42c0fb;
    display: flex;
    height: 8vh;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: bolder;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

#redirectButtonsCategory {
    display: flex;
    margin-left: auto;
    margin-top: 10px;
    padding: 10px 10px;
}

#logoImage {
    width:  50px;
    height: 50px;
    border-radius: 5px;
    margin: 0px 10px;
}

.divDropdownHolder {
    position: relative;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    height: 40px;
    padding: 0 30px;
    cursor: pointer;
}

#contactButtonDesign {
    margin: 5px 10px;
    width: 100px;
    height: 50px;
    background-color: #27b2f2;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

#contactButtonDesign:hover {
    background-color: #8dceec
}

.mainDropdownMenu {
    position: absolute;
    top: 80%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    background-color: #04afff;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    pointer-events: none;
    transition: top .75s ease-out, opacity .75s ease-out;
}

.divDropdownHolder .dropdownSelectionSetUp {
    font-weight: bold;
    position: relative;
    background-color: rgb(40, 174, 236);
    width: 120px;
    height: 50px;
    padding: 10px;
    font-weight: lighter;
    cursor: pointer;
    transition: background-color 1s;
    border: solid #04afff;
    visibility: visible;
    border-radius: 10px;
}

.dropdownSelectionSetUp:hover {
    background-color: #a8e1fb;
}

#mainPage {
    background-image: url("mainBackgroundTemp.png");
    opacity: 80;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: 92vh;
    z-index: -5;
}

#navTitle {
    font-size: 30px;
    padding-right: 0 100px;
    margin: 2px 10px;
    color: #5e17eb;
}

#mainScreenDiv {
    position: absolute;
    background-color: #dcf4ff;
    display: flex;
    flex-direction: column;
    color :#04afff;
    margin-bottom: 10px;
    align-self: center;
    height: 70%;
    width: 60%;
    animation: relativeXYZoom 1s forwards;
    border-radius: 10px;
    z-index: 100;
    font-size: 30px;

}

@keyframes relativeXYZoom {
    from {height: 70%; width:60%}
    to {height: 80%; width:75%;}
}

#mainScreenDivTitle {
    font-size: 40px;
    color: #27b2f2;
    align-self: top;
    justify-self: top;
    text-align: center;
    margin: 20px;
    padding: 10px 20px;
}

#mainScreenDivDescriptor {
    color: #27b2f2;
    font-weight: lighter;
    font-size: 26px;
    text-align: center;
    padding: 25px 25px 30px 25px;
}

#mainScreenDivDesciptorDiv {
    display: flex;
    background-color: #cae7f4;
    position: relative;
    margin: 0px 15px;
    justify-self: left;
    align-self: left;
    border-radius: 5px;
    height: 100%;
    width: 50%;
}

#mainScreenDivDesciptorDivSiteDetails {
    display: flex;
    flex-direction: column;
    background-color: #cae7f4;
    position: relative;
    margin: 0px 15px;
    padding: 25px;
    justify-self: left;
    align-self: left;
    border-radius: 5px;
    height: 100%;
    width: 50%;
}

#mainScreenDescriptorContainerDiv {
    display: flex;
    flex-direction: row;
    height: 75%;
}


#mainScreenDivDesciptorSiteDetails {
    margin-top: 70px;
    color: #27b2f2;
    font-weight: lighter;
    font-size: 26px;
    text-align: center;
    padding: 0px 0px 30px 0px;
}

#mainScreenDescriptorSiteDetailsButton {
    position: relative;
    width: 150px;
    height: 40px;
    margin: 0px 0px;
    align-self: center;
    background-color: #27b2f2;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

#mainScreenDescriptorSiteDetailsButton:hover {
    background-color: #93d8f8;
}