* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
}

.divDropdownHolder:hover .mainDropdownMenu {
    top: 100%;
    opacity: 100;
    transition: top .75s ease-in, opacity .75s ease-in;
    pointer-events: auto;
}

#navBarMain {
    background-color: #42c0fb;
    position: fixed;
    display: flex;
    height: 8vh;
    width: 100vw;
    min-height: 80px;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: bolder;
    padding: 10px 25px 10px 0;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

#redirectButtonsCategory {
    display: flex;
    margin-left: auto;
    margin-top: 10px;
    padding: 10px 10px;
}

#logoImage {
    width:  50px;
    height: 50px;
    border-radius: 5px;
    margin: 0px 10px;
}

.divDropdownHolder {
    position: relative;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    height: 40px;
    padding: 0 30px;
    cursor: pointer;
}

#contactButtonDesign {
    margin: 5px 10px;
    width: 100px;
    height: 40px;
    background-color: #27b2f2;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

#contactButtonDesign:hover {
    background-color: #8dceec
}

.mainDropdownMenu {
    position: absolute;
    top: 80%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    background-color: #04afff;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    pointer-events: none;
    transition: top .75s ease-out, opacity .75s ease-out;
}

.divDropdownHolder .dropdownSelectionSetUp {
    font-weight: bold;
    position: relative;
    background-color: rgb(40, 174, 236);
    width: 120px;
    height: 50px;
    padding: 10px;
    font-weight: lighter;
    cursor: pointer;
    transition: background-color 1s;
    border: solid #04afff;
    visibility: visible;
    border-radius: 10px;
}

.dropdownSelectionSetUp:hover {
    background-color: #a8e1fb;
}


#navTitle {
    font-size: 30px;
    padding-right: 0 100px;
    margin: 2px 10px;
    color: #5e17eb;
}


/*Page below the main header*/
#imageBackground {
    background-image: url("imageFiles/mainBackgroundTemp.png");
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 92vh;
    filter: blur(2px);

}

#mainPage {
    position: absolute;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    height: 110vh;
    animation: mainPageInitAnimation 1s forwards;
    z-index: -5;
}

@keyframes mainPageInitAnimation {
    from {height: 110vh}
    to {height: 160vh}
}

#mainPage_lowerDiv {
    background-color: #dcf4ff;
    display: flex;
    flex-direction: column;
    color :#04afff;
    height: 80vh;
    width: 100vw;
    border-radius: 10px;
    z-index: 10;
    font-size: 30px;

}

#mainPage_centeredDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;

}

#mainPage_centeredDiv_title {
    font-size: 52px;
}

#mainPage_centeredDiv_button {
    width: 150px;
    height: 40px;
    background-color: #27b2f2;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

#mainPage_centeredDiv_purposeSummary {
    padding: 5px 0px 15px 0px; 
    font-weight: lighter;
}

#mainPage_centeredDiv_button:hover {
    background-color: #93d8f8;
}

@keyframes fontSizeChange {
    from {font-size: 15px;}
    to {font-size: 26px;}
}

/*#mainScreenDescriptorSiteDetailsButton {
    position: relative;
    width: 150px;
    height: 40px;
    margin: 0px 0px;
    align-self: center;
    background-color: #27b2f2;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
} */

#mainScreenDescriptorSiteDetailsButton:hover {
    background-color: #93d8f8;
}


/* Home CSS */

#mainBackgroundDiv {
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: #dcf4ff;
    width: 100vw;
    height: 100vh;
}

#sidebar {
    position: fixed;
    height: 100vh;
    width: 5.5vw;
    background-color: #9ddefc;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 1s ease;
    z-index: 100;
    
}

.sidebar_widgetNextToSideBar_a {
    position: absolute;
    left: 5.7vw;
    transform: scaleX(.1);
    transform-origin: left;
    opacity: 0;
    color: #5e17eb;
    font-size: 30px;
    font-weight: bolder;
    transition: opacity .35s ease .4s transform .35 ease .4;
}

#sidebar_a1Holder {
    margin: 15px 10px 0px 0px;
}

#sidebar_a1 {
    background: url("imageFiles/logo.png");
    border-radius: 6px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 3.1vw;
    height: 5.9vh;
    left: 1.25vw;
}

#sidebar_a2 {
    background: url("imageFiles/temp.png");
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    width: 3vw;
    height: 6vh;
    left: 1vw;
}

#sidebar_a3 {
    background: url("imageFiles/temp.png");
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    width: 3vw;
    height: 6vh;
    left: 1vw;
}

#sidebar_a4 {
    background: url("imageFiles/temp.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 3vw;
    height: 6vh;
    left: 1vw;
}

#sidebar_a5 {
    background: url("imageFiles/temp.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 3vw;
    height: 6vh;
    left: 1vw;
}

.sideBar_aHolderLeftBorderExpand {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 6vh;
    align-self: left;
    left: 0;
    width: 4px;
    border-radius: 2px;
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 1s ease;
}

.sidebar_aHolder {
    display: flex;
    flex-direction: row;
    justify-items: right;
    align-items: center;
    cursor: pointer;
    height: 9vh;
    width: 5.5vw;
    margin: 0px 0px;
    transition: width 1s ease, background-color 1s ease;
}

#sideBarDivider {
    background-color: white;
    position: relative;
    width: 50px;
    border-radius: 2px;
    border-width: 0px;
    margin: 15px 0px;
    height: 4px;
    transform-origin: center;
    transform: scaleX(1);
    transition: transform 1s ease;
}

#homePage_rightSide {
    display: flex;
    align-self: right;
    flex-direction: column;
    margin-left: 5.5vw;
    background-color: #dcf4ff;
    width: 94.5vw;
    height: 100vh;
}


#homePage_rightSide_upperDiv_leftDiv {
    background-color: #42c0fb;
    display: flex;
    width: 42vw;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgb(71, 66, 66);
    margin: 10px 20px 40px 20px;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    transition: box-shadow 1s ease;
}

#homePage_rightSide_upperDiv_rightDiv {
    background-color: #42c0fb;
    width: 45vw;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgb(71, 66, 66);
    margin: 10px 40px 40px 20px;
    align-self: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    transition: box-shadow .8s ease;
    display: flex;
    flex-direction: column;
}

#homePage_rightSide_upperDiv {
    display: flex;
    flex-direction: row;
    background-color: #dcf4ff;
    padding-left: 30px;
    width: 94.5vw;
    height: 45vh;
}


#homePage_rightSide_lowerDiv {
    background-color: #dcf4ff;
    width: 94.5vw;
    height: 40vh;
}

#homePage_rightSide_titleDiv {
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    width: 94.5vw;
    height: 15vh;
}

#homePage_rightSide_upperDiv_rightDiv_verticalDiv_cardName {
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
    font-size: 20px;
    font-weight: bolder;
    color:#dcf4ff;
}

#homePage_rightSide_titleDiv_title {
    margin: 10px 0px 0px 0px;
    color:#04afff;
    font-weight: bolder;
    font-size: 60px;
}

#homePage_rightSide_titleDiv_divider {
    margin: 5px 0px 5px 0px;
    background-color: #04afff;
    border-width: 0px;
    border-radius: 4px;
    height: 8px;
    width: 90vw;
}

#homePage_rightSide_upperDiv_rightDiv_verticalDiv_divider {
    margin: 10px 10px 5px 10px;
    background-color: #dcf4ff;
    border-width: 0px;
    border-radius: 4px;
    height: 4px;
}

#homePage_rightSide_upperDiv_rightDiv_verticalDiv_mainContinueDivHolder {
    width: 38vw;
    height: 18vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.homePage_rightSide_upperDiv_rightDiv_verticalDiv_mainContinueDivHolder_continueDiv {
    background-color: #9ddefc;
    width: 22%;
    height: 29vh;
    border-radius: 4px;
    margin: 0px 10px 10px 10px;
    box-shadow: 0px 0px 0px black;
    cursor: pointer;
    transition: box-shadow 1s ease;

}

#mainPage_backgroundBlocker {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}

