* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
}

.divDropdownHolder:hover .mainDropdownMenu {
    top: 100%;
    opacity: 100;
    transition: top .75s ease-in, opacity .75s ease-in;
    pointer-events: auto;
}

#navBarMain {
    background-color: #42c0fb;
    position: fixed;
    display: flex;
    height: 8vh;
    width: 100vw;
    min-height: 80px;
    align-items: center;
    color: white;
    font-size: large;
    font-weight: bolder;
    padding: 10px 25px 10px 0;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

#redirectButtonsCategory {
    display: flex;
    margin-left: auto;
    margin-top: 10px;
    padding: 10px 10px;
}

#logoImage {
    width:  50px;
    height: 50px;
    border-radius: 5px;
    margin: 0px 10px;
}

.divDropdownHolder {
    position: relative;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    height: 40px;
    padding: 0 30px;
    cursor: pointer;
}

#contactButtonDesign {
    margin: 5px 10px;
    width: 100px;
    height: 40px;
    background-color: #27b2f2;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

#contactButtonDesign:hover {
    background-color: #8dceec
}

.mainDropdownMenu {
    position: absolute;
    top: 80%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    background-color: #04afff;
    gap: 10px;
    padding: 20px;
    border-radius: 5px;
    pointer-events: none;
    transition: top .75s ease-out, opacity .75s ease-out;
}

.divDropdownHolder .dropdownSelectionSetUp {
    font-weight: bold;
    position: relative;
    background-color: rgb(40, 174, 236);
    width: 120px;
    height: 50px;
    padding: 10px;
    font-weight: lighter;
    cursor: pointer;
    transition: background-color 1s;
    border: solid #04afff;
    visibility: visible;
    border-radius: 10px;
}

.dropdownSelectionSetUp:hover {
    background-color: #a8e1fb;
}


#navTitle {
    font-size: 2vmax;
    padding-right: 0 100px;
    margin: 2px 10px;
    color: #5e17eb;
}


/*Page below the main header*/
#imageBackground {
    background-image: url("imageFiles/mainBackgroundTemp.png");
    position: absolute;
    z-index: -100;
    width: 100%;
    height: 92vh;
    filter: blur(2px);

}

#mainPage {
    position: absolute;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    height: 110vh;
    animation: mainPageInitAnimation 1s forwards;
    z-index: -5;
}

@keyframes mainPageInitAnimation {
    from {height: 110vh}
    to {height: 160vh}
}

#mainPage_lowerDiv {
    background-color: #dcf4ff;
    display: flex;
    flex-direction: column;
    color :#04afff;
    height: 80vh;
    width: 100vw;
    border-radius: 10px;
    z-index: 10;
    font-size: 30px;

}

#mainPage_centeredDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;

}

#mainPage_centeredDiv_title {
    font-size: 3.5vmax;
}

#mainPage_centeredDiv_button {
    width: 150px;
    height: 40px;
    background-color: #27b2f2;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
}

#mainPage_centeredDiv_purposeSummary {
    padding: 5px 0px 15px 0px; 
    font-weight: lighter;
}

#mainPage_centeredDiv_button:hover {
    background-color: #93d8f8;
}



/*#mainScreenDescriptorSiteDetailsButton {
    position: relative;
    width: 150px;
    height: 40px;
    margin: 0px 0px;
    align-self: center;
    background-color: #27b2f2;
    border-width: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 1s;
} */

#mainScreenDescriptorSiteDetailsButton:hover {
    background-color: #93d8f8;
}


/* Home CSS */

#mainBackgroundDiv {
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: #dcf4ff;
    width: 100vw;
    height: 100vh;
}

#sidebar {
    position: fixed;
    height: 100vh;
    width: 5.5vw;
    background-color: #9ddefc;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 1s ease;
    z-index: 100;
    
}

.sidebar_widgetNextToSideBar_a {
    transform: scaleX(.1);
    transform-origin: left;
    opacity: 0;
    color:#ffffff;
    width: 0px;
    max-width: 5vw;
    font-size: 2vmax;
    font-weight: bold;
    transition: opacity .35s ease .4s transform .35 ease .4;
}

#sidebar_a1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.5vw;
    height: 5vh;
}

#sidebar_widgetNextToSideBar_a1 {
    color:#5e17eb;
    font-weight: bolder;
}

#sidebar_a1Holder {
    margin: 10px 0px 0px 0px;
}

#sidebar_a1_logoImage {
    background-image: url("imageFiles/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1 / 1;
    width: 3.5vw;
    border-radius: 50%;
}

#sidebar_a2 {
    background: url("imageFiles/temp.png");
    align-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 5.5vw;
    height: 5vh;
}

#sidebar_a3 {
    background: url("imageFiles/temp.png");
    align-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 5.5vw;
    height: 5vh;
}

#sidebar_a4 {
    background: url("imageFiles/temp.png");
    align-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 5.5vw;
    height: 5vh;
}

#sidebar_a5 {
    background: url("imageFiles/temp.png");
    align-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 5.5vw;
    height: 5vh;
}

.sideBar_aHolderLeftBorderExpand {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 6.7vh;
    align-self: left;
    left: 0;
    width: 4px;
    border-radius: 2px;
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 1s ease;
}

.sidebar_aHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    height: 10vh;
    width: 5.5vw;
    margin: 0px 0px;
    transition: width 1s ease, background-color 1s ease;
}

#sideBarDivider {
    background-color: white;
    position: relative;
    width: 3.0vw;
    border-radius: 2px;
    border-width: 0px;
    margin: 1.2vh 0px;
    height: 4px;
    transform-origin: center;
    transform: scaleX(1);
    transition: transform 1s ease;
}

#homePage_rightSide {
    display: flex;
    align-self: right;
    flex-direction: column;
    margin-left: 5.5vw;
    background-color: #dcf4ff;
    width: 94.5vw;
    height: 100vh;
}


#homePage_rightSide_upperDiv_leftDiv {
    background-color: #42c0fb;
    display: flex;
    width: 42vw;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgb(71, 66, 66);
    margin: 10px 20px 20px 20px;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    transition: box-shadow 1s ease;
}

#homePage_rightSide_upperDiv_rightDiv {
    background-color: #42c0fb;
    width: 45vw;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgb(71, 66, 66);
    margin: 10px 40px 20px 20px;
    align-self: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
    transition: box-shadow .8s ease;
    display: flex;
    flex-direction: column;
}

#homePage_rightSide_upperDiv {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #dcf4ff;
    padding-left: 30px;
    width: 94.5vw;
    height: 45vh;
}


#homePage_rightSide_lowerDiv {
    position: relative;
    background-color: #dcf4ff;
    width: 94.5vw;
    height: 40vh;
}

#homePage_rightSide_titleDiv {
    position: relative;
    padding: 15px 0px 0px 35px;
    display: flex;
    flex-direction: column;
    width: 94.5vw;
    height: 12%;
}

#homePage_rightSide_upperDiv_rightDiv_verticalDiv {
    padding: 20px 0px; 
    height: 100%;
}

#homePage_rightSide_upperDiv_rightDiv_verticalDiv_cardName {
    font-size: 1.2vmax;
    font-weight: bolder;
    color:#dcf4ff;
}

#homePage_rightSide_titleDiv_title {
    color:#04afff;
    font-weight: bolder;
    font-size: 2vmax;
}

#homePage_rightSide_titleDiv_divider {
    margin: 1% 0px 5px 0px;
    background-color: #04afff;
    border-width: 0px;
    border-radius: 4px;
    height: 8%;
    width: 98%;
}

#homePage_rightSide_upperDiv_rightDiv_verticalDiv_divider {
    margin: 15px 10px 10px 10px;
    background-color: #dcf4ff;
    border-width: 0px;
    border-radius: 4px;
    height: 4px;
}

#homePage_rightSide_upperDiv_rightDiv_verticalDiv_mainContinueDivHolder {
    width: 38vw;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.homePage_rightSide_upperDiv_rightDiv_verticalDiv_mainContinueDivHolder_continueDiv {
    background-color: #9ddefc;
    width: 22%;
    height: 90%;
    border-radius: 4px;
    margin: 0px 10px 10px 10px;
    box-shadow: 0px 0px 0px black;
    cursor: pointer;
    transition: box-shadow 1s ease;

}

#mainPage_backgroundBlocker {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
    z-index: 10;
}

#homePage_rightSide_lowerDiv_mainDiv {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #42c0fb;
    width: 94%;
    height: 90%;
    border-radius: 6px;
    justify-self: center;
}

@keyframes whiteLeftBorderexpandOut {
    from {transform: scaleY(0);}
    to {transform: scaleY(1);}
}

.lowerPage {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #dcf4ff;
}

#lessons_rightSide_lowerPage {
    width: 90%;
    height: 90%;
}

.lesson_rightSide_lessonDiv {
    height: 45%;
    width: 92vw;
    display: flex;
    background-color: #dcf4ff;
    flex-direction: row;
    justify-content: center;

}

.lessons_rightSide_lessonDiv_lessons_title_progressDivHolder {
    display: flex;
    margin: 0 1%;
    background-color: #98dcf7;
    border-radius: 4px;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    width: 70%
}

.lessons_rightSide_lessonDiv_lessons {
    margin: 10px 20px 0px 20px;
    display: flex;
    height: 80%;
    width: 20%;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 0px 0px black;
    transition: box-shadow 1s ease;

}

.lesson_rightSide_lessonDiv_lessons_title_progressBarPercentage {
    margin: 0px 2%;
    font-size: .7vmax;
    align-self: center;
    justify-self: center;
    font-weight: bold;
}

.lesson_rightSide_lessonDiv_lessons_Inner {
    background-color: #04afff;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #04afff #a8e1fb;
}

.lesson_rightSide_lessonDiv_lessons_title_progressBar {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    align-self: center;
    margin: 0px 2%;
    width: 60%;
    height: 15%;
}

.lessons_rightSide_lessonDiv_lessons_title_wordTitle {
    text-wrap: nowrap;
    height: 80%;
    align-self: center;
    font-size: 1vmax;
    margin: 0px 4%;
}

.lesson_rightSide_lessonDiv_lessons_title_progressBar_innerProgressBar {
    width: 20%;
    border-radius: 4px;
    height: 100%;
    background-color: rgb(20, 188, 255);
}

.lessons_rightSide_lessonDiv_lessons_title {
    height: 10%;
    display: flex;
    flex-direction: row;
    margin: 4% 0;
}

.lessons_rightSide_lessonDiv_lessons_sublesson {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-items: center;
    margin: 4% 0px;
    padding: 5% 0px 5% 0px;
    border-radius: 4px;
    min-height: 5vh;
    width: 80%;
    z-index: 0;
    height: auto;
    background-color: #4fc5fc;
}

.lessons_rightSide_lessonDiv_lessons_sublesson_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    background-color: #4fc5fc;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.lessons_rightSide_lessonDiv_lessons_sublesson_content_lessonName {
    width: 67%;
    margin: 0px 4% 0px 9%;
    height: 100%;
    font-weight: 300;
    font-size: 1vmax;
    justify-content: center;
    align-content: center;
}

.lessons_rightSide_lessonDiv_lessons_sublesson_content_lessonCompletion {
    justify-self: left;
    cursor: pointer;
    align-self: center;
    aspect-ratio: 1 / 1;
    width: 10%;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgb(142, 152, 154);
    background-color: rgb(190, 210, 196);
    z-index: 100;
    transition: background-color 1s ease, border 1s ease;
    /*border: 3px solid rgb(142, 152, 154);
    background-color: rgb(190, 203, 210);*/
}

.lessons_rightSide_lessonDiv_lessons_sublesson_content_lessonCompletion.lessonCompButtonActive {
    background-color: rgb(49, 239, 106);
    border: 2px solid rgba(92, 235, 135, 1);
}

#lesson_rightSide_lessonDiv_lessons_title_progressBar_innerProgressBar_unit1 {
    width: 100%;
}

#lesson_rightSide_lessonDiv_lessons_title_progressBar_innerProgressBar_unit2 {
    width: 15%
}

#lesson_rightSide_lessonDiv_lessons_title_progressBar_innerProgressBar_unit3 {
    width: 42%;
}

#lesson_rightSide_lessonDiv_lessons_title_progressBar_innerProgressBar_unit4 {
    width: 72%;
}

#lesson_rightSide_lessonDiv_lessons_title_progressBar_innerProgressBar_unit5 {
    width: 90%;
}

.lessons_rightSide_lessonDiv_lessons_sublesson_content_subLessonContent.syncAnimationLRLLSCS {
    display: flex;
}

.lessons_rightSide_lessonDiv_lessons_sublesson_content_subLessonContent {
    position: absolute;
    opacity: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    width: 90%;
    height: 5vh;
    transform: scaleY(.001);
    transform-origin: center;
    pointer-events: none;
    background-color:#98dcf7;
    margin: 6% 0px 0px 0px;
    border-radius: 4px;
    transition: transform 1s ease;
}

.lessons_rightSide_lessonDiv_lessons_sublesson_content_subLessonContent_image {
    aspect-ratio: 1 / 1;
    height: 65%;
    margin-left: 6%;
    background: url("imageFiles/temp.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.lessons_rightSide_lessonDiv_lessons_sublesson_content_subLessonContent_text {
    margin: 0px 4%;
    width: 45%;
    font-size: 1vmax;
    font-weight: 300;
}


/* Practice Page */
#mainBackgroundDiv_leftDiv {
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 50%;
    height: 100%;
}

#mainBackgroundDiv_rightDiv {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
}

.mainBackgroundDiv_leftDiv_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    width: 35%;
    height: 40%;
    background: #27b2f2;
    border-radius: 4px;
    box-shadow: 0px 0px 0px black;
    margin: 24% 0px 0px 8%;
    background: linear-gradient(160deg,rgba(67, 195, 250, 1) 24%, rgb(159, 209, 246) 61%, #27b2f2 80%);
    background-size: 900%;
    background-position: right;
    transform: scale(1);
    transition: background-position 1s ease-in-out, transform .5s ease-in-out, box-shadow 1s ease-in-out;

    
}

.mainBackgroundDiv_leftDiv_card:hover {
    background-position: center;
    transform: scale(1.06);
    box-shadow: 0px 0px 2px black;

}


#mainPage-divHolder {
    display: flex;
    flex-direction: column;
    margin-left: 5.5vw;
    width: 100%;
    height: 100%;
}

#mainPage_contentDivHolder {
    display: flex;
    flex-direction: row;
    transform: background-color 1s ease;
    width: 100%;
    height: 80%;
}

#mainPage_titleDivHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 15%;
}

#mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 92%;
    margin-top: 4%;
    background-color: #27b2f2;
    border-radius: 4px;
    box-shadow: 0px 0px 0px black;
    transform: scale(1);
    transition: box-shadow .5s ease-in-out, transform .8s ease-in-out;
}

#mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv:hover {
    box-shadow: 0px 0px 4px black;
    transform: scale(1.02);
}

#mainPage_titleDivHolder_title {
    align-content: center;
    color :#04afff;
    font-size: 2.5vmax;
    padding-left: 2.5%;
    width: 100%;
    font-weight: bolder;
    height: 40%;
}

#mainPage_titleDivHolder_title_divider {
    background-color: #04afff;
    border-width: 0px;
    border-radius: 4px;
    margin: 1% 0%;
    height: 5%;
    width: 95%;
}


.mainBackgroundDiv_leftDiv_card_cardTitle {
    display: flex;
    color: #d1eaf4;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: 2vmax;
    width: 60%;
    height: 10%;

}


#mainBackgroundDiv_leftDiv_card_gameCardImage {
    background-image: url("imageFiles/gameLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    aspect-ratio: 1/1;
    width: 70%
}

#mainBackgroundDiv_leftDiv_card_questionCardImage { 
    background-image: url("imageFiles/questionLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    aspect-ratio: 1/1;
    width: 70%
}

.mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv_select {
    border-radius: 4px;
    margin: 0% 0% 4% 0%;
    border-width: 2px;
    border-color: #4fc5fc;
    background-color:#d1eaf4;
    color:#04afff;
    height: 6%;
    width: 80%;

}

.mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv_options {
    color:#04afff;

}

#mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv_title_divider {
    background-color:white;
    margin: 1% 0%;
    border-width: 0px;
    border-radius: 4px;
    height: 1%;
    width: 90%;
}

#mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv_title {
    font-size: 2vmax;
    margin: 1% 0%;
}

.mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv_headerText {
    font-size: 1.1vmax;
    margin: 3% 0% 0% 0%;
    width: 80%;
    height: 5%;
}

#mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv_addQuestion {
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    border-width: 0px;
    font-size: 1vmax;
    height: 70%;
    width: 30%;
    margin-right: 4%;
    background-color: #5abdea;
    pointer-events: none;
    box-shadow: 0px 0px 0px black;
    transition: box-shadow .4s ease-in-out;
}

#mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv_addQuestion:hover {
    box-shadow: 0px 0px 4px black;
}

#mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv_addAdaptiveQuestions {
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    border-width: 0px;
    font-size: 1vmax;
    height: 70%;
    width: 30%;
    margin-left: 4%;
    background-color: #93d8f8;
    box-shadow: 0px 0px 0px black;
    transition: box-shadow .4s ease-in-out;
}

#mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv_addAdaptiveQuestions:hover {
    box-shadow: 0px 0px 4px black;
}

#mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv_buttonHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0%;
    width: 95%;
    height: 10%;
}

#mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv_questionPreviewHolder {
    background-color: #a8e1fb;
    margin: 1%;
    height: 35%;
    width: 90%;
    border-radius: 4px;
}

#mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv_questionPreviewHolder_title {
    font-size: 1.1vmax;
    margin: 2%;
}

#mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv_questionPreviewHolder_questionHolder {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 90%;
    align-self: center;
    align-items: center;
    justify-self: center;
    border-radius: 4px;
    background-color: #04afff;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #04afff #a8e1fb;
}

.mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv_questionPreviewHolder_questionHolder_question {
    display: flex;
    margin-top: 2%;
    font-size: 1vmax;
    align-items: center;
    padding-left: 2%;
    color:#04afff;
    flex-shrink: 0;
    width: 90%;
    border-radius: 4px;
    height: 20%;
    background-color: #d1eaf4;
}

.mainPage_contentDivHolder_rightDiv_unitLessonChooserDiv_questionPreviewHolder_questionHolder_question_removalDiv {
    display: flex;
    cursor: pointer;
    aspect-ratio: 1/1;
    font-size: 1vmax;
    width: 4.5%;
    margin-left: auto;
    margin-right: 2%;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 2px;

}

#hiddenDivGame {
    display: none;
    flex-direction: column;
    margin-left: 5.5vw;
    width: 100%;
    height: 100%;
}

#hiddenDivGame_title {
    display: flex;
    font-size: 4vmax;
    color: #04afff;
    padding-top: 1%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 12.5%;
    flex-direction: column;
    width: 100%
}


#hiddenDivGame_mainScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
}

#hiddenDivGame_title_divider {
    background-color: #04afff;
    border-width: 0px;
    border-radius: 4px;
    height: 8%;
    width: 70%;
    z-index: 100;
}

#hiddenDivGame_mainScreen_gameScreen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #04afff;
    width: 90%;
    height: 94%;
    border-radius: 4px;
}

#hiddenDivGame_bottomScreen {
    display: flex;
    flex-direction: row;
    height: 12%;
    width: 100%;
}

#hiddenDivGame_returnButton {
    cursor: pointer;
    display: flex;
    width: 10%;
    font-size: 1vmax;
    align-items: center;
    justify-content: center;
    height: 40%;
    border-radius: 4px;
    margin-top: 1%;
    margin-left: 4%;
    background-color: #04afff;
}

.hiddenDivGame_mainScreen_gameScreen_upgHolder {
    display: flex;
    flex-direction: column;
    width: 45%; 
    margin: 2%;
    border-radius: 4px;
    height: 90%;
    background-color:#c2e0ee;
}

#hiddenDivGame_mainScreen_gameScreen_upgHolder_mUpgTitle {
    display: flex;
    margin-top: 4%;
    margin-left: 4%;
    font-size: 2vmax;
    color:#04afff;
}

#hiddenDivGame_mainScreen_gameScreen_upgHolder_mUpgMoney {
    color: #04afff;
    margin: 1% 4%;
}

#hiddenDivGame_mainScreen_gameScreen_upgHolder_separator {
    background-color:#04afff;
    margin-top: 1%;
    margin-left: 4%;
    border-width: 0px;
    border-radius: 4px;
    height: 1%;
    width: 90%;
}


.hiddenDivGame_mainScreen_gameScreen_upgHolder_mUpg {
    display: flex;
    cursor: pointer;
    margin-left: 4%;
    border-radius: 4px;
    margin-top: 4%;
    background-color:#04afff;
    width: 90%;
    padding: 4%;
    font-size: 2vmax;
    height: 10%;
    background: linear-gradient(160deg,rgba(67, 195, 250, 1) 24%, rgb(116, 193, 252) 61%, #27b2f2 80%);
    box-shadow: 0px 0px 0px grey;
    background-size: 400%;
    background-position: right;
    transform: scale(1);
    transition: background-position .7s ease-in-out, transform .7s ease-in-out, box-shadow .7s ease-in-out;
}

.hiddenDivGame_mainScreen_gameScreen_upgHolder_mUpg:hover {
    box-shadow: 0px 0px 4px grey;
    transform: scale(1.015);
    background-position: left;
}

.hiddenDivGame_mainScreen_gameScreen_upgHolder_mUpg.clickEvent {
    transform: scale(.90) !important;
}

.hiddenDivGame_mainScreen_gameScreen_upgHolder_mUpg_title {
    display: flex;
    width: 50%;
    margin-right: 4%;
    align-items: center;
    justify-content: left;
    font-size: 1.25vmax;
    height: 100%;
}

.hiddenDivGame_mainScreen_gameScreen_upgHolder_mUpg_cost {
    display: flex;
    height: 100%;
    width: 50%; 
    align-items: center;
    justify-items: center;
    font-size: 1vmax;
}
