.h1 {
    color: rgb(75, 63, 63);
    margin-left: 109px;
}
.meow {
    color:blueviolet;
}
head {
    background: #99dfff;
}
.test {
    background-color: blue;
    color: red;
}
.test1 {
    color: green;
    background-color: #99dfff;
}